[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  command = "npm run vite"
  targetPort = 2323
  port = 8888
  autoLaunch = true




